@use '../../../shared/variables/variables.scss' as *;
@use '../../../shared/mixins/mixins.scss' as *;

.catalogPage {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-content: start;
    align-items: start;
    column-gap: 24px;
    max-width: $max-width;
    margin-inline: auto;
    padding-top: 32px;
    padding-bottom: 64px;
  }

  &__contentInfo{
    grid-column: 1/-1;

    &--mapOpened{
      grid-column: 1/2;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    grid-column: 1/-1;
    color: $black-color;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 8px;
  }

  &__quantity {
    grid-column: 1/2;
    color: $gray-text;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }

  &__links {
    justify-self: end;
    display: flex;
    gap: 24px;
  }

  &__link {
    @include link-styles;

    position: relative;
  }

  &__linkItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &--hidden {
      display: none;
    }
  }

  &__linkIcon {
    display: block;
    width: 24px;
    height: 24px;

    &--recommended {
      background-image: url('../../../assets/icons/cardIcons/recommended.svg');
    }

    &--map {
      background-image: url('../../../assets/icons/mapIcons/location.svg');
    }
  }

  &__notFound {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
  }
}
