@use '../../shared/variables/variables.scss' as *;
@use '../../shared/mixins/mixins.scss' as *;

.apartmentSwiper {
  position: relative;
  grid-column: 1/-1;

  :global {
    .swiper-button-next,
    .swiper-button-prev {
      @include icons-styles;
      @include icon-size(40px, 40px);

      top: 184px !important;
      background-color: $white-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
      border-radius: 10000px;
      cursor: pointer;
      z-index: 100;

      &:hover {
        background-color: $filter-border;
      }

      &:active,
      &:focus {
        background-color: $gray-text;
      }
    }

    .swiper-button-next {
      right: 19px !important;
      background-image: url('../../assets/icons/BurgerMenuIcons/ArrowRight.svg');

      &:focus,
      &:active {
        background-image: url('../../assets/icons/BurgerMenuIcons/ArrowRightWhite.svg');
      }
    }

    .swiper-button-prev {
      left: 24px !important;
      background-image: url('../../assets/icons/BurgerMenuIcons/ArrowLeft.svg');

      &:focus,
      &:active {
        background-image: url('../../assets/icons/BurgerMenuIcons/arrowLeftWhite.svg');
      }
    }

    .swiper-button-disabled {
      background-color: $white-color;
    }

    .swiper-button-prev.swiper-button-disabled {
      background-image: url('../../assets/icons/BurgerMenuIcons/ArrowLeftDisabled.svg');
    }
    .swiper-button-next.swiper-button-disabled {
      background-image: url('../../assets/icons/BurgerMenuIcons/ArrowRightDisabled.svg');
    }

    .swiper-navigation-icon {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: $pagination-bullet-bg;
      opacity: 1;
      margin: 0 2px !important;
    }

    .swiper-pagination-bullet-active {
      background: $btn-color-white;
    }
  }

  &--mapOpened {
    :global {
      .swiper-button-next,
      .swiper-button-prev {
        top: 120px !important;
        width: 24px;
        height: 24px;
      }

      .swiper-button-next {
        right: 12px !important;
      }

      .swiper-button-prev {
        left: 12px !important;
      }

      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        margin: 0 1px !important;
      }
    }
  }

  &--detailsPage {
    grid-column: 1/5;
    grid-row: 2/4;
    width: 808px;
    border-radius: 15px;
    margin-bottom: 20px;

    :global {
      .swiper-button-next,
      .swiper-button-prev {
        top: 244px !important;
      }
    }
  }

  &__image {
    width: 100%;
    height: 367px;
    object-position: center;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &--mapOpened{
      height: 224px;
    }

    &--detailsPage {
      height: 484px;
    }
  }

  &__badges {
    position: absolute;
    top: 29px;
    left: 24px;
    display: flex;
    gap: 8px;
    z-index: 2;

    &--mapOpened {
      top: 12px;
      left: 12px;
    }
  }

  &__badge {
    padding: 4px 16px;
    border-radius: 4px;

    &--new {
      color: $white-color;
      background-color: $btn-hover-color;
    }

    &--pet-friendly {
      color: $black-color;
      background-color: $white-color;
    }

    &--mapOpened {
      padding: 1.5px 8px;
      font-size: 12px;
    }
  }

  &__favs {
    @include cardButton;
    @include icon-size(40px, 40px);

    top: 24px;
    right: 24px;
    background-image: url('../../assets/icons/HeadersIcons/favarites.png');
    background-size: 24px 24px;

    &--mapOpened {
      @include icon-size(24px, 24px);
      top: 12px;
      right: 12px;
      background-size: 16px 16px;
    }

    &--persistent {
      right: 42px;
    }
  }

  &__share{
    @include icon-size(40px, 40px);
    @include cardButton;

    top: 24px;
    right: 70px;
    background-image: url('../../assets/icons/apartmentIcons/share-icon.svg');
    background-size: 24px 24px;
  }

  &__favs--selected {
    background-image: url('../../assets/icons/cardIcons/favsSelected.svg');
  }

  &__close {
    @include icon-size(24px, 24px);
    @include cardButton;

    top: 12px;
    right: 12px;
    background-image: url('../../assets/icons/BurgerMenuIcons/close.svg');
    background-size: 16px 16px;
  }
}
