$btn-default-color: rgba(22, 90, 67, 1);
$btn-hover-color: rgba(62, 131, 108, 1);
$btn-pressed-color: rgba(15, 65, 48, 1);
$btn-disabled-color: rgba(241, 243, 245, 1);
$btn-color-white: rgba(255, 255, 255, 1);
$btn-color-gray: rgba(173, 181, 189, 1);
$btn-color-green: rgba(52, 58, 64, 1);
$white-color: rgba(241, 242, 249, 1);
$black-color: rgb(29, 29, 29);
$filter-border: rgb(222, 226, 230);
$dropdown-border: rgb(135, 143, 151);
$option-hover: rgb(237, 242, 241);
$gray-text: rgb(73, 80, 87);
$gray-light: rgb(134, 142, 150);
$pagination-bullet-bg: rgb(208, 211, 215);
$font-main: "Roboto", sans-serif;
$border-radius: 8px;
$spacing: 16px;
$max-width: 1224px;