@use "../../../../shared/variables/variables.scss" as *;
@use "../../../../shared/mixins/mixins.scss" as *;

.platform_stats {
  background-color: rgba(241, 243, 245, 1);
  padding: 56px 0;
  justify-content: center;
  gap: 24px;

  @include flex-center;
}

.platform_stats__item {
  width: 392px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(29, 29, 29, 1);
  border-radius: 15px;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.platform_stats__item_count {
  @include semi-bold-text(44px, 1.2);
}

.platform_stats__item_text {
  @include standard-text(16px, 1.4);
}
