@use '../../shared/variables/variables.scss' as *;
@use '../../shared/mixins/mixins.scss' as *;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pageContainer {
  position: relative;
  grid-column: 2/-1;
  grid-row: 3/-1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  animation: fadeIn 0.3s ease;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 724px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 21;
  transition: height 0.5s ease;
  transition:
    height 0.5s ease,
    width 0.5s ease,
    left 0.5s ease,
    top 0.5s ease,
    transform 0.5s ease;

  &--expanded {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 90vh;
    transform: translate(-50%, -50%);
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .map-wrapper__button {
    @include white-button-styles;

    position: absolute;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 48px;
    gap: 8px;
    z-index: 500;
    background-color: $btn-color-white;
    border-radius: 15px;
    cursor: pointer;

    &--hideMap {
      left: 16px;
    }

    &--mapSize {
      right: 16px;
    }
  }

  &__buttonIcon {
    @include icons-styles;

    padding-right: 10px;

    &--hide {
      background-image: url('../../assets/icons/mapIcons/closeLocation.svg');
    }

    &--expand {
      background-image: url('../../assets/icons/mapIcons/expand.svg');
    }

    &--collapse {
      background-image: url('../../assets/icons/mapIcons/collapse.svg');
    }
  }

  :global {
    .leaflet-container a {
      color: $btn-default-color;

      &:hover {
        color: $btn-hover-color;
      }

      &:disabled {
        color: $btn-disabled-color;
      }

      &:active {
        color: $btn-pressed-color;
      }
    }

    .leaflet-control-zoom {
      background-color: none;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 5px;
      top: 620px;
      left: 10px;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      z-index: 1000;

      a {
        z-index: 500;
        background-color: $btn-color-white;
        color: $black-color;
        transition: all 0.2s ease;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover {
          background-color: $white-color;
        }
      }
    }
  }

  :global(.price-marker) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.price-marker-content) {
    background-color: $btn-color-white;
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid $btn-color-gray;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: nowrap;

    &:hover {
      background-color: $black-color;
      color: $white-color;
    }
  }
}
