/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable no-descending-specificity */
@use "../../shared/variables/variables.scss" as *;
@use "../../shared/mixins/mixins.scss" as *;

.pageContainer {
  position: relative;
  grid-column: 2/-1;
  grid-row: 3/-1;
}

.overlay {
  @include overlay-styles;
}

.map-wrapper {
  @include map-styles;

  height: 724px;
  border-radius: 10px;

  .map-container {
    width: 100%;
    height: 100%;
  }

  .map-wrapper__button {
    @include secondary-button;
    @include flex-center;

    position: absolute;
    top: 16px;
    justify-content: center;
    width: 137px;
    height: 48px;
    gap: 8px;
    z-index: 500;
    background-color: $btn-color-white;
    border-radius: 15px;
    cursor: pointer;

    &--hideMap {
      left: 16px;
    }

    &--mapSize {
      right: 16px;
    }
  }

  &__buttonIcon {
    @include icons-styles;

    padding-right: 10px;

    &--hide {
      background-image: url("../../assets/icons/mapIcons/closeLocation.svg");
    }

    &--expand {
      background-image: url("../../assets/icons/mapIcons/expand.svg");
    }

    &--collapse {
      background-image: url("../../assets/icons/mapIcons/collapse.svg");
    }
  }

  :global {
    .leaflet-container a {
      color: $btn-default-color;

      &:hover {
        color: $btn-hover-color;
      }

      &:disabled {
        color: $btn-disabled-color;
      }

      &:active {
        color: $btn-pressed-color;
      }
    }

    .leaflet-control-zoom {
      background-color: none;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 5px;
      top: 620px;
      left: 10px;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      z-index: 1000;

      a {
        z-index: 500;
        background-color: $btn-color-white;
        color: $black-color;
        transition: all 0.2s ease;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover {
          background-color: $white-color;
        }
      }
    }
  }

  :global(.price-marker) {
    @include flex-center;

    justify-content: center;
  }

  :global(.price-marker-content) {
    background-color: $btn-color-white;
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid $btn-color-gray;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: nowrap;

    &:hover {
      background-color: $black-color;
      color: $white-color;
    }
  }
}
