@use "../../shared/mixins/mixins.scss" as *;

.header {
  height: 96px;
  justify-content: space-between;

  @include container;
  @include flex-center;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;

  @include icon-size(40px);
}

.landlord__button {
  padding: 17px 42px;
  margin-right: 32px;

  @include standard-text;
  @include secondary-button;
}

.header__button:last-child {
  margin-left: 4px;
}

.favorites__button {
  @include icon-size(24px);
}

.user__button {
  @include icon-size(24px);
}
